In [29]:
import pandas as pd
import numpy as np

# Assuming you have a CSV file named 'dataset.csv' in the same directory
df = pd.read_csv('dataset.csv')

# Now you can work with the DataFrame 'df'
# For example, you can print the first 5 rows:
# print(df.head(100))

In [30]:
# Assuming you have a DataFrame named 'df' with a column 'Possibility'
df['criminal'] = df['Possibility'].apply(lambda x: 0 if x == '<=0.5' else 1)

# Now the 'criminal' column is added to your existing DataFrame 'df'
print(df.head(100))

    age         workclass     education  educationno       maritalstatus  \
0    39         State-gov     Bachelors           13       Never-married
1    50  Self-emp-not-inc     Bachelors           13  Married-civ-spouse
2    38           Private       HS-grad            9            Divorced
3    53           Private          11th            7  Married-civ-spouse
4    28           Private     Bachelors           13  Married-civ-spouse
..  ...               ...           ...          ...                 ...
95   20           Private  Some-college           10       Never-married
96   29           Private       HS-grad            9       Never-married
97   32      Self-emp-inc       HS-grad            9  Married-civ-spouse
98   30           Private          11th            7       Never-married
99   31         Local-gov       HS-grad            9                 NaN

           occupation   relationship   race     sex  capitalgain  capitalloss  \
0        Adm-clerical  Not-in-family  White    Male         2174            0
1     Exec-managerial        Husband  White    Male            0            0
2   Handlers-cleaners  Not-in-family  White    Male            0            0
3   Handlers-cleaners        Husband  Black    Male            0            0
4      Prof-specialty           Wife  Black  Female            0            0
..                ...            ...    ...     ...          ...          ...
95       Tech-support      Own-child  White  Female            0            0
96       Craft-repair  Not-in-family  White    Male            0            0
97       Craft-repair        Husband  White    Male         7688            0
98  Handlers-cleaners      Own-child  White    Male            0            0
99       Adm-clerical  Not-in-family  White  Female            0            0

    hoursperweek         native Possibility  criminal
0           40.0  United-States       <=0.5         0
1           13.0  United-States       <=0.5         0
2           40.0  United-States       <=0.5         0
3           40.0  United-States       <=0.5         0
4           40.0           Cuba       <=0.5         0
..           ...            ...         ...       ...
95          40.0  United-States       <=0.5         0
96          40.0  United-States       <=0.5         0
97          40.0  United-States        >0.5         1
98          40.0  United-States       <=0.5         0
99          40.0  United-States       <=0.5         0

[100 rows x 15 columns]

In [31]:
df = df.drop('Possibility', axis=1)
print(df.head(100))

    age         workclass     education  educationno       maritalstatus  \
0    39         State-gov     Bachelors           13       Never-married
1    50  Self-emp-not-inc     Bachelors           13  Married-civ-spouse
2    38           Private       HS-grad            9            Divorced
3    53           Private          11th            7  Married-civ-spouse
4    28           Private     Bachelors           13  Married-civ-spouse
..  ...               ...           ...          ...                 ...
95   20           Private  Some-college           10       Never-married
96   29           Private       HS-grad            9       Never-married
97   32      Self-emp-inc       HS-grad            9  Married-civ-spouse
98   30           Private          11th            7       Never-married
99   31         Local-gov       HS-grad            9                 NaN

           occupation   relationship   race     sex  capitalgain  capitalloss  \
0        Adm-clerical  Not-in-family  White    Male         2174            0
1     Exec-managerial        Husband  White    Male            0            0
2   Handlers-cleaners  Not-in-family  White    Male            0            0
3   Handlers-cleaners        Husband  Black    Male            0            0
4      Prof-specialty           Wife  Black  Female            0            0
..                ...            ...    ...     ...          ...          ...
95       Tech-support      Own-child  White  Female            0            0
96       Craft-repair  Not-in-family  White    Male            0            0
97       Craft-repair        Husband  White    Male         7688            0
98  Handlers-cleaners      Own-child  White    Male            0            0
99       Adm-clerical  Not-in-family  White  Female            0            0

    hoursperweek         native  criminal
0           40.0  United-States         0
1           13.0  United-States         0
2           40.0  United-States         0
3           40.0  United-States         0
4           40.0           Cuba         0
..           ...            ...       ...
95          40.0  United-States         0
96          40.0  United-States         0
97          40.0  United-States         1
98          40.0  United-States         0
99          40.0  United-States         0

[100 rows x 14 columns]